extends layout

block layout-content
    div.View
        h1.Banner Errortracker
        div.Message
            div.Title
                h3 Providing the error tracking
                h1 Successful Devs Need
            span.Details Create an Errortracker account!
        div.NavButtons
            a(href="/user")
                div.NavButton See what you can do!
            h3 Not much, amirite???!?!?